<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Exam Platform Login</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('login') }}">
    <div>
        <label>Username:</label>
        <input type="text" name="username" required>
    </div>

    <br>

    <div>
        <label>Password:</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    </form>
</body>

</html>